#got the gameing back ground from user Rafał Chałupnik from https://www.artstation.com/artwork/GX3EQa
#got intro background from https://giphy.com/TEEY/legend-of-zelda
https://in.pinterest.com/pin/306104105924029733/
https://myedit.online/en/audio-editor/speech-to-text
https://www.naturalreaders.com/online/
https://app.clipchamp.com/editor/c29ea9f2-4780-44cd-9025-197b4036afb4
https://ezgif.com/video-to-gif